@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  font-family: inherit;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  list-style: none;
  width: 632px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-item-logo {
  margin-right: 30px;
}

.navigation-item-main {
  min-width: 100px;
}

.navigation-item-about-sedona {
  min-width: 114px;
}

.navigation-item-hotels {
  min-width: 125px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  display: block;
  padding: 20px 16px;
}

.navigation-item-logo .navigation-link {
  padding: 0
}

.navigation-user-list {
  max-width: 312px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-user-item {
  min-width: 44px;
  box-sizing: border-box;
}

.navigation-user-item-want-here {
  min-width: 160px;
  flex-grow: 1;
  margin-left: 20px;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
}

.navigation-user-link-search {
  background-image: url("../images/header/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.navigation-user-link-to-favorites {
  background-image: url("../images/header/heart.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.navigation-user-link-want-here {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 371px 82px 371px;
  background: url("../images/welcome/index-background.jpg") no-repeat;
}

.advantages-header {
  padding: 69px 0;
  box-sizing: border-box;
}

.advantages-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  color: #333333;
  margin: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  padding: 103px 85px;
  text-align: center;
  vertical-align: top;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourists {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-item-image {
  width: 800px;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages-description {
  vertical-align: top;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-item-blue .advantages-description {
  color: #ffffff;
}

.services {
  text-align: center;
}

.services-header {
  padding: 64px 0;
}

.services-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  text-align: center;
  vertical-align: top;
  padding: 80px 85px;
}

.services-invitation {
  font-size: 30px;
  line-height: 36px;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: 700;
}

.services-title-house::before {
  content: url("../images/services-list/house.svg");
  width: 75px;
  height: 72px;
}

.services-title-food::before {
  content: url("../images/services-list/food.svg");
  width: 74px;
  height: 70px;
}

.services-title-souvenirs::before {
  content: url("../images/services-list/souvenirs.svg");
  width: 64px;
  height: 76px;
}

.services-staff {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  vertical-align: top;
  margin-bottom: 0;
  margin-top: 0;
}

.services-description {
  color: #333333;
  margin: 0;
}

.searching-for-hotels {
  text-align: center;
  vertical-align: top;
  width: 1200px;
  height: 406px;
  padding: 96px 304px 96px 304px;
  box-sizing: border-box;
}

.searching-title {
  font-size: 30px;
  line-height: 36px;
  vertical-align: top;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.searching-description {
  font-size: 22px;
  line-height: 26px;
  vertical-align: top;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.searching-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  vertical-align: center;
  text-align: center;
  font-weight: 700;
  background-color: #756157;
  padding: 8px 50px;
}

.subscription-section {
  box-sizing: border-box;
  width: 1200px;
  height: 415px;
  padding: 96px 258px 104px 258px;
}

.subscription-section-index {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
}

.subscription-form {
  display: flex;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.subscription-input {
  width: 452px;
  height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: none;
}

.subscription-button {
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.subscription-label {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-parameters {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.hotel-parameters-header {
  width: 1060px;
  margin-bottom: 40px;
}

.hotel-parameters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 114px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs-link {
  background-image: url("../images/breadcumbs/to-index-icon.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 0 0 2px;
}

.breadcrumbs-link::after {
  content: url("../images/breadcumbs/arrow-icon.svg");
  width: 6px;
  height: 10px;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.left-columns-container {
  display: flex;
  margin-right: 140px;
  width: 371px;
  gap: 70px;
  box-sizing: border-box;
}

.right-columns-container {
  display: flex;
  width: 549px;
  gap: 70px;
}

.catalog-filter-group {
  border-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.right-columns-container .catalog-filter-group {
  flex-direction: column;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 151px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}

.catalog-filter-label-cost {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}

.catalog-filter-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-left: auto;
}

.catalog-filter-button-item {
  margin-bottom: 32px;
}

.catalog-filter-button-item:last-child {
  margin: 0;
}

.catalog-filter-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  border-style: none;
  padding: 8px 50px;
}

.catalog-filter-button-apply {
  background-color: #82B3D3;
}

.catalog-filter-button-reset {
  background-color: transparent;
}

.catalog-header-cards {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
}

.catalog-header-cards-hotels-count {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  margin: 0;
  margin-right: auto;
}

.catalog-header-cards-select {
  width: 292px;
  margin-right: 70px;
}

.catalog-header-icon-list {
  list-style: none;
  display: flex;
  width: 160px;
  padding: 0;
  margin: 0;
}

.catalog-header-icon-item {
  width: 48px;
  height: 48px;
}

.catalog-header-icon-button {
  padding: 14px 12px;
}

.catalog-header-icon-item-grid .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
  border: none;
}

.catalog-header-icon-item-full-screen .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
  border: none;
}

.catalog-header-icon-item-list .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
  border: none;
}

.catalog-cards-section {
  margin-top: 40px;
}

.catalog-cards-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  padding: 0;
  margin: 0 70px 40px 70px;
}

.catalog-cards-item {
  text-align: left;
  vertical-align: top;
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.catalog-cards-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-cards-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.catalog-cards-title {
  margin: 0;
}

.catalog-cards-link .card-img {
  order: -1;
  margin-bottom: 16px;
}

.catalog-price-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog-cards-hotel {
  text-align: left;
  vertical-align: top;
  color: #333333;
  font-weight: 400;
}

.catalog-cards-price {
  text-align: right;
  vertical-align: top;
  color: #333333;
  font-weight: 400;
}

.catalog-cards-button-container {
  width: 300px;
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.catalog-cards-button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 20px;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.catalog-cards-button-to-favorites {
  background-color: #82B3D3;
}

.catalog-cards-button-in-favorites {
  background-color: #7DB54F;
}

.catalog-cards-rate {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;
}

.catalog-cards-item:first-child .catalog-cards-rate::before,
.catalog-cards-item:nth-child(2) .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars.svg");
}

.catalog-cards-item:nth-child(3) .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars-2.svg");
}

.catalog-cards-item:last-child .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars-3.svg");
}

.pagination-list {
  list-style: none;
  display: flex;
  margin: 80px 70px 60px 70px;
}

.pagination-item {
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-item:not(:first-child):not(.pagination-item-dotes) {
  background-color: #82B3D3;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  width: 60px;
  height: 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 11px 25px 13px 23px;
  display: block;
  box-sizing: border-box;
}

.pagination-current,
.pagination-link-dotes {
  color: #000000;
}

.subscription-title-catalog {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
}

.subscription-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  vertical-align: top;
  text-align: center;
}

.page-footer {
  width: 1200px;
  height: 120px;
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
  display: flex;
}

.social-list {
  width: 144px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 42px;
  padding: 0;
}

.social-item {
  min-width: 48px;
}

.social-link {
  padding: 0 10px;
}

.social-link-tg {
  padding: 1px 10px;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.logo-link {
  margin-left: 42px;
}
