@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  list-style: none;
  width: 632px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-item-logo {
  margin-right: 30px;
}

.navigation-item-main {
  min-width: 100px;
}

.navigation-item-about-sedona {
  min-width: 114px;
}

.navigation-item-hotels {
  min-width: 125px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  content: "";
  width: 68px;
  height: 0;
  border: 2px solid #756257;
  position: absolute;
  top: 45px;
  margin-top: 21px;
}

.navigation-link-catalog-current {
  position: relative;
}

.navigation-link-catalog-current::before {
  content: "";
  width: 93px;
  height: 0;
  border: 2px solid #756257;
  position: absolute;
  top: 45px;
  margin-top: 21px;
}

.navigation-item-logo .navigation-link {
  padding: 0
}

.navigation-user-list {
  width: 268px;
  height: 64px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-user-item {
  width: 44px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-user-item-to-favorites {
  position: relative;
}

.navigation-user-item-to-favorites::after {
  content: url("../images/header/figure.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 20px;
}

.navigation-user-item-want-here {
  width: 160px;
  margin-left: 20px;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
}

.navigation-user-link-search {
  background-image: url("../images/header/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link-to-favorites {
  background-image: url("../images/header/heart.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-button-want-here {
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  box-sizing: border-box;
}

.navigation-user-button-want-here:hover {
  background: #615048;
}

.navigation-user-button-want-here:focus {
  background: #615048;
  outline: none;
}

.navigation-user-button-want-here:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button-want-here:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 371px 82px 371px;
  background: url("../images/welcome/index-background.jpg") no-repeat;
}

.advantages-header {
  padding: 69px 0;
  box-sizing: border-box;
}

.advantages-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  color: #333333;
  margin: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 103px 85px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
}

.advantages-item-container {
  background-color: #82B3D3;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 103px 85px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
}

.advantages-item-city {
  width: 1200px;
  display: flex;
  padding: 0;
}

.advantages-image {
  order: -1;
  flex-grow: 1;
}

.advantages-item-square,
.advantages-item-tourists {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
  position: relative;
}

.advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  top: 86px;
  left: 85px;
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item-city .advantages-title::after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  top: 86px;
  left: 85px;
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  vertical-align: top;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-item-city .advantages-description {
  color: #ffffff;
}

.services {
  text-align: center;
}

.services-header {
  padding: 64px 0;
}

.services-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  text-align: center;
  vertical-align: top;
  padding: 80px 85px;
  position: relative;
}

.services-invitation {
  font-size: 30px;
  line-height: 36px;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: 700;
}

.services-title-house::before {
  content: url("../images/services-list/house.svg");
  width: 75px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 163px;
}

.services-title-food::before {
  content: url("../images/services-list/food.svg");
  width: 74px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 163px;
}

.services-title-souvenirs::before {
  content: url("../images/services-list/souvenirs.svg");
  width: 64px;
  height: 76px;
  position: absolute;
  top: 0;
  left: 168px;
}

.services-staff {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  vertical-align: top;
  margin-bottom: 0;
  margin-top: 0;
}

.services-description {
  color: #333333;
  margin: 0;
}

.searching-for-hotels {
  text-align: center;
  vertical-align: top;
  width: 1200px;
  min-height: 406px;
  padding: 96px 304px 96px 304px;
  box-sizing: border-box;
}

.searching-title {
  font-size: 30px;
  line-height: 36px;
  vertical-align: top;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.searching-description {
  font-size: 22px;
  line-height: 26px;
  vertical-align: top;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.searching-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 376px;
  box-sizing: border-box;
  margin: 0 auto;
}

.searching-link:hover {
  background: #615048;
}

.searching-link:focus {
  background: #615048;
  outline: none;
}

.searching-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-section {
  box-sizing: border-box;
  width: 1200px;
  min-height: 415px;
  padding: 96px 258px 104px 258px;
}

.subscription-section-index {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #496d82;
}

.subscription-form {
  display: flex;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.subscription-input {
  width: 452px;
  min-height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: none;
}

.subscription-button {
  background-color: #82B3D3;
  width: 232px;
  min-height: 52px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:focus {
  background: #68A2CA;
  outline: none;
}

.subscription-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background: #E5E5E5;
}

.subscription-label {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.hotel-parameters {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.hotel-parameters-header {
  width: 1060px;
  margin-bottom: 40px;
}

.hotel-parameters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  padding: 3px 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 114px;
  position: relative;
}

.breadcrumbs-item {
  margin-right: 28px;
  min-width: 13px;
  height: 15px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item-text {
  min-width: 73px;
  min-height: 21px;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus {
  color: #FFFFFF;
}

.breadcrumbs-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link {
  width: 13px;
  height: 15px;
  background-image: url("../images/breadcumbs/to-index-icon.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  text-decoration: none;
  display: flex;
}

.breadcrumbs-link::after {
  content: url("../images/breadcumbs/arrow-icon.svg");
  width: 6px;
  height: 10px;
  position: absolute;
  left: 23.8px;
  top: 2px;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.left-columns-container {
  display: flex;
  margin-right: 140px;
  width: 371px;
  gap: 70px;
  box-sizing: border-box;
}

.right-columns-container {
  display: flex;
  width: 549px;
  gap: 70px;
}

.catalog-filter-group {
  border-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.right-columns-container .catalog-filter-group {
  flex-direction: column;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 151px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}

.catalog-filter-label-cost {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}

.catalog-filter-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-left: auto;
}

.catalog-filter-button-item {
  margin-bottom: 32px;
}

.catalog-filter-button-item:last-child {
  margin: 0;
}

.catalog-filter-button {
  min-width: 191px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.catalog-filter-button-apply {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
}

.catalog-filter-button-apply:hover {
  background-color: #68A2CA;
}

.catalog-filter-button-apply:focus {
  background-color: #68A2CA;
  outline: none;
}

.catalog-filter-button-apply:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-button-apply:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.catalog-filter-button-reset {
  width: 191px;
  height: 36px;
  background-color: transparent;
}

.catalog-filter-button-reset:hover {
  opacity: 0.6;
}

.catalog-filter-button-reset:focus {
  outline: 3px solid #83b3d3;
}

.catalog-filter-button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.catalog-filter-button-reset:disabled {
  opacity: 0.1;
}

.catalog-cards {
  padding-top: 50px;
}

.catalog-header-cards {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.catalog-header-cards-hotels-count {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  margin: 0;
  margin-right: auto;
}

.catalog-header-cards-select {
  width: 292px;
  margin-right: 70px;
}

.catalog-header-icon-list {
  list-style: none;
  display: flex;
  width: 160px;
  padding: 0;
  margin: 0;
}

.catalog-header-icon-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.catalog-header-icon-item:last-child {
  margin-right: 0;
}

.catalog-header-icon-button {
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-header-icon-button:hover {
  border: 2px solid #000000;
}

.catalog-header-icon-button:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.catalog-header-icon-button:active {
  border: 2px solid #000000;
}

.catalog-header-icon-item-grid .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}

.catalog-header-icon-item-full-screen .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}

.catalog-header-icon-item-list .catalog-header-icon-button {
  background-image: url("../images/catalog-cards-header/modal-window-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}

.catalog-cards-section {
  padding: 0 70px 40px 70px;
}

.catalog-cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  padding: 0;
  margin: 0;
}

.catalog-cards-item {
  color: #333333;
  width: 340px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 20px 300px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-cards-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.catalog-cards-img {
  margin-bottom: 16px;
  display: block;
}

.catalog-cards-title {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-price-container {
  width: 300px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog-cards-hotel {
  text-align: left;
  vertical-align: top;
  color: #333333;
  font-weight: 400;
}

.catalog-cards-price {
  text-align: right;
  vertical-align: top;
  color: #333333;
  font-weight: 400;
}

.catalog-cards-button-container {
  width: 300px;
  height: 36px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.catalog-cards-link-more-detailed {
  min-width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
}

.catalog-cards-link-more-detailed:hover {
  background: #615048;
}

.catalog-cards-link-more-detailed:focus {
  background: #615048;
  outline: none;
}

.catalog-cards-link-more-detailed:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-cards-button {
  padding: 8px 20px;
  min-width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-style: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
}

.catalog-cards-button-to-favorites {
  background-color: #82B3D3;
}

.catalog-cards-button-to-favorites:hover {
  background: #68A2CA;
}

.catalog-cards-button-to-favorites:focus {
  background: #68A2CA;
  outline: none;
}

.catalog-cards-button-to-favorites:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-cards-button-to-favorites:disabled {
  background: #E5E5E5;
}

.catalog-cards-button-in-favorites {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.catalog-cards-button-in-favorites:hover {
  background: #6C9E42;
}

.catalog-cards-button-in-favorites:focus {
  background: #6C9E42;
  outline: none;
}

.catalog-cards-button-in-favorites:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-cards-button-in-favorites:disabled {
  background: #E5E5E5;
}

.catalog-cards-rate {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-cards-item:first-child .catalog-cards-rate::before,
.catalog-cards-item:nth-child(2) .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars.svg");
}

.catalog-cards-item:nth-child(3) .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars-2.svg");
}

.catalog-cards-item:last-child .catalog-cards-rate::before {
  content: url("../images/catalog-cards-list/stars-3.svg");
}

.pagination-list {
  list-style: none;
  display: flex;
  margin: 80px 70px 60px 70px;
}

.pagination-item {
  margin-right: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  width: 60px;
  height: 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  padding: 11px 25px 13px 23px;
  box-sizing: border-box;
  display: block;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link-ten {
  padding: 12px 19px 13px 19px;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-dotes):hover {
  background: #68A2CA;
  outline: 1px solid #82B3D3;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-dotes):focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  outline: none;
}

.pagination-link:not(.pagination-link-current):not(.pagination-link-dotes):active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current,
.pagination-link-dotes {
  color: #000000;
  background: #F2F2F2;
}

.pagination-link-current,
.pagination-link-dotes:focus {
  outline: none;
  background: #F2F2F2;
}

.subscription-title-catalog {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
}

.subscription-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  vertical-align: top;
  text-align: center;
}

.page-footer {
  width: 1200px;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
  display: flex;
}

.social-list-footer {
  width: 144px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 42px;
  padding: 0;
}

.social-item-footer {
  width: 48px;
}

.social-link-footer {
  outline: none;
}

.social-link-footer-vk {
  padding: 13px 12px;
}

.social-link-footer-vk svg {
  fill: #83B3D3;
  stroke: #000000;
}

.social-link-footer-vk:hover svg {
  fill: #68A2CA;
  stroke: none;
}

.social-link-footer-vk:focus svg {
  fill: #68A2CA;
  stroke: none;
}

.social-link-footer-vk:active svg {
  fill: rgba(104, 162, 202, 0.3);
  stroke: none;
}

.social-link-footer-tg {
  padding: 12px 15px 13px 15px;
}

.social-link-footer-tg svg {
  fill: #83B3D3;
}

.social-link-footer-tg:hover svg {
  fill: #68A2CA;
}

.social-link-footer-tg:focus svg {
  fill: #68A2CA;
  outline: 0;
  outline-offset: 0;
}

.social-link-footer-tg:hover:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link-footer-youtube {
  padding: 12px 13px;
}

.social-link-footer-youtube svg {
  fill: #83B3D3;
}

.social-link-footer-youtube:hover svg {
  fill: #68A2CA;
}

.social-link-footer-youtube:focus svg {
  fill: #68A2CA;
}

.social-link-footer-youtube:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link-footer {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  margin: 0 auto;
}

.phone-link-footer:hover {
  color: #756157;
}

.phone-link-footer:focus {
  color: #756157;
  outline: none;
}

.phone-link-footer:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-link-footer {
  margin-left: 42px;
  outline: none;
}

.logo-link-footer svg {
  fill: #000000;
}

.logo-link-footer:hover svg {
  fill: #756157;
}

.logo-link-footer:focus svg {
  fill: #756157;
}

.logo-link-footer:active svg {
  fill: rgba(117, 97, 87, 0.3);
}
